{% extends "_base.html" %}

{% block title %}
  leanPath
{% endblock %}

{% block content %}
  {% call comp.section_block() %}
    {{ comp.h2("About the blog") }}
    {{ comp.p(
      comp.span("leanPath ") ~
      "is a personal blog that serves as a knowledge notebook on software development, built on a philosophy of
      simplicity and efficiency. This space explores topics such as programming, software design, clean code, task
      automation, software testing, design patterns, optimization, and other key aspects of building solid, clear,
      and maintainable software."
    ) }}
    {{ comp.p(
      "More than just a repository of notes or a collection of information," ~
      comp.span("leanPath ") ~
      "aims to be a space for exploration and knowledge refinement. Its purpose is to organize, connect, and delve
      into key concepts, structuring ideas in a clear and practical way to enhance their understanding and
      real-world application. The name represents the idea of following an efficient, well-defined path focused on
      the essentials. More than just storing information," ~
      comp.span("leanPath ") ~
      "strives to be a valuable tool for learning and knowledge sharing, providing access to fundamental principles
      and best practices in software development."
    ) }}
    {{ comp.p(
      comp.span_2("Language: ") ~
      "This blog will be written in English. Although I still have limited practice, I recognize that English is
      fundamental in the field of software development. Writing in English will not only help me improve my
      proficiency but also allow me to share knowledge with a broader audience within the tech community."
    ) }}
    {{ comp.p(
      "Find out more" ~
      comp.a("About me", "#", True),
    ) }}
    {{ comp.p_font_bold(
      "leanPath is a constantly evolving space, where each entry contributes to structuring and consolidating
      knowledge. It is not just about documentation but about shaping ideas that lead to better, clearer, and more
      efficient systems."
    ) }}
    {{ comp.h3("Topics covered") }}
    {{ comp.list_items([
      comp.span("Clean Code ") ~ "– Writing maintainable and readable code.",
      comp.span("Software Design ") ~ "– Patterns and best practices.",
      comp.span("Automation ") ~ "– Reducing repetitive tasks.",
      comp.span("Optimization ") ~ "– Writing efficient code.",
      comp.span("Testing ") ~ "– Ensuring long-term stability."
    ])}}
    {{ comp.p(
      "Explore the" ~
      comp.a("Posts", "#", True),
    ) }}
  {% endcall %}
  {% call comp.section_block() %}
    {{ comp.h2("Ideology of leanPath") }}
    {{ comp.p(
      "leanPath is based on clarity, efficiency, and the structured organization of knowledge and information."
    ) }}
    {{ comp.p(
      "Its name combines two key concepts:"
    ) }}
    {{ comp.list_items([
      comp.span_2("lean:") ~ "Represents a minimalist and efficient approach, avoiding the unnecessary and
      prioritizing simplicity. Inspired by Lean philosophy, it focuses on eliminating waste and optimizing each
      process so that every element serves its purpose effectively.",

      comp.span_2("Path:") ~ "Symbolizes a well-defined path, a clear direction toward structured and
      understandable solutions. It’s not just about moving forward but doing so with purpose and precision,
      ensuring that every piece fits exactly where it should."
    ])}}
    {{ comp.p(
      "The ideology of leanPath is built on simple and clear organization, avoiding unnecessary complexities and
      promoting well-defined principles that help develop cleaner, more maintainable, and efficient software."
    ) }}
    {{ comp.p(
      "The approach is straightforward:" ~ comp.span("reduce noise, prioritize clarity, and optimize each component
      to do exactly what it should.")
    ) }}
  {% endcall %}
{% endblock %}
