@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

@import "tailwindcss";

:root {
  --color-first: #F7F5F5;
  --color-second: #202020;
  --color-third: #741718;
}

body {
  font-family: "Markazi Text", serif;
  line-height: normal;
  letter-spacing: -0.03em;
  background-color: var(--color-first);
  color: var(--color-second);
}

footer a:hover {
  color: var(--color-third);
}

main a {
  color: #2177CF;
}
